# Supabase
SUPABASE_URL=https://ohahuqlfzqckaevaffbt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Backend
BACKEND_PORT=3000
NODE_ENV=development

# API Registro Imprese
REGISTRO_IMPRESE_URL=https://accessoallebanchedati.registroimprese.it/abdo/download-file-api

# Frontend
FRONTEND_URL=http://localhost:8080
